/* Main page */

/*background-color: #f8f9fa!important;*/
/*    min-width: 400px;*/

#root {
    min-width: 640px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

footer {
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

.main-container {
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.cat_name {
    float: right;
}

/* Main menu */

/*.dropdown {*/
/**/
/*    display: inline;*/
/*}*/

/*.dropdown-menu {*/
/*    text-align: left;*/
/*}*/

.nav-item {
    margin: 5px 0px 5px 0px;;
}

.navbar-brand {
    font-size: 1.5rem;
}


.navbar-expand-md {
    padding: 0px 80px 0px 80px;
    justify-content: space-between;

}

.mr-nav {
    float: right;
}

.nav-item {
    margin-left: 10px;
}


.form-control {
    border-color: #5fad00;
}

.form-control:focus {
    border-color: #5fad00;
    box-shadow: 0 0 0 0.2rem rgb(95, 173, 0);
}

.title {
    text-align: center;
    font-size: 28px;
}

a {
    text-decoration: none;
}

a {
    color: #5fad00;
}

a:hover {
    color: #006919;
    text-decoration: underline;
}

.main a:visited {
    color: #006919;
}

.main a:hover {
    color: #006919;
}

.post_tags {
    padding: 0;
    display: flex;
    list-style: none;
}

.cat_name {
    margin-right: 0.5em;
}


.tease {
    font-size: 1.5em;
}

.body {
    font-size: 1.5em;
}

.post {
    padding: 0px 20px 0px 30px;
    margin: 0px 20px 20px 20px;;

}

.tag {
    margin-right: 0.5em;
}

/* With media screen */

@media screen and (max-width: 768px) {
    /*.main-nav {*/
    /*    display: none;*/
    /*}*/
    .main-container {
        padding: 0px;
    }

    .navbar-expand-md {
        padding: 0px 15px 0px 15px;
    }

    .post {
        margin: 0px;
    }

    .mr-nav {
        float: left;
    }

}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        flex-grow: unset;
    }


}
